<% layout('layouts/page')%>
<div class="row">
    <h1 class="text-center">New Camp</h1>
    <div class="col-6 offset-3 mb-3">
        <form action="/campgrounds" method="POST">
            <div>
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" class="form-control" id="image" placeholder="Use anURL" name="campground[image]">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" name="campground[description]"></textarea>
            </div>
            <div class="input-group mb-3">
                <label class="form-label mb-3" for="price">Camp price</label>
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" placeholder="0" name ="campground[price]">
                <span class="input-group-text">.00</span>
              </div>         
              
              
            
            <div class="mb-3">
            <button class="btn btn-outline-info mb-3">Add campground</button>
            </div>
        </form>
        <button type="button" class="btn btn-outline-secondary mb-3"><a href="/campgrounds">Back</a></button>
    
    </div>
</div>